
body{
    width: 80%;
    margin: auto;
    background: url(\silver-background-with-white-lights_1053-6.jpg);

}

header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 50px;
      
}


.container{
    background-color: beige;
}


.train-info {

    background-color: brown;
    color: white;   
   
}

.display-table {

    width: 100%;
}

.form-control {

    width: 95%;
    padding: 5px;
}

#add-train {
  
 background-color: brown;
 color: white;
  padding: 5px;
  margin-top: 5px;
}

#top {
    background-color: brown;  
    color: white;
}